/* Navbar */

.menu {
    display: none;
}

.nav-icon {
    display: block;
}

.showcase .content .h1 {
    font-size: 20px;
}

.grid-2,
.grid-3,
.last-section {
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 2rem;
}

.grid-4 {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;
}

.card {
    margin-bottom: 20px;
    width: 150px;
    height: 180px;
}

.last-section,
.section {
    height: 100%;
    padding-top: 60px;
}